#page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-color: rgba(255, 255, 255, 0.85); // або прозорий фон
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

.custom-loader {
  width: 48px;
  height: 48px;
  border: 5px solid #ccc;
  border-top-color: #007bff;
  border-radius: 50%;
  animation: spin 0.2s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
