<footer class="footer">
  <div class="container">
    <a class="footer-logo" href="#" data-page="mainpage">foxminded</a>

    <div class="footer-top">
      <div class="footer-description-block">
        <p>Lorem ipsum dolor sit amet consectetur consectetur.</p>
        <a class="footer-tell" href="tel:8956 3254 7887">
          <span>Call us:</span>
          8956 3254 7887</a
        >

        <div class="footer-icon-block icons-block">
          <a href="https://www.instagram.com/"
            ><img
              class="footer-icon icon"
              src="./app/img/icons/instagram-icon.svg"
              alt="Instagram Icon"
              target="_blank"
            />
          </a>

          <a href="https://x.com/">
            <img class="footer-icon icon" src="./app/img/icons/twitter-icon.svg" alt="Twitter Icon" target="_blank" />
          </a>

          <a href="https://web.telegram.org/a/">
            <img class="footer-icon icon" src="./app/img/icons/telegram-icon.svg" alt="Facebook Icon" target="_blank" />
          </a>
        </div>
      </div>

      <div class="footer-links">
        <h4>items</h4>
        <ul>
          <li><a href="#">Lorem ipsum</a></li>
          <li><a href="#">Lorem ipsum</a></li>
        </ul>
      </div>

      <div class="footer-links">
        <h4>Products</h4>
        <ul>
          <li><a href="#">Lorem ipsum</a></li>
          <li><a href="#">Lorem ipsum</a></li>
        </ul>
      </div>

      <div class="footer-links">
        <h4>Collection</h4>
        <ul>
          <li><a href="#">Lorem ipsum</a></li>
          <li><a href="#">Lorem ipsum</a></li>
          <li><a href="#">Lorem ipsum</a></li>
          <li><a href="#">Lorem ipsum</a></li>
          <li><a href="#">Lorem ipsum</a></li>
          <li><a href="#">Lorem ipsum</a></li>
        </ul>
      </div>

      <div class="footer-links">
        <h4>Weekly updates</h4>
        <ul>
          <li><a href="#">Lorem ipsum</a></li>
          <li><a href="#">Lorem ipsum</a></li>
          <li><a href="#">Lorem ipsum</a></li>
        </ul>
      </div>
      <div class="footer-links">
        <h4>About us</h4>
        <ul>
          <li><a href="#">Lorem ipsum</a></li>
          <li><a href="#">Lorem ipsum</a></li>
          <li><a href="#">Lorem ipsum</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <p>© 2025 Foxminded.</p>
      <p>All rights reserved. Performed by Denys Shevchenko.</p>
    </div>
  </div>
</footer>
