<div class="container">
  <div class="header">
    <div class="logo">
      <a href="#" data-page="mainpage">foxminded</a>
    </div>

    <div class="menu-burger" id="menu-burger">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <nav class="nav">
      <ul>
        <li><a href="#" data-page="mainpage">Mainpage</a></li>
        <li><a href="#" data-page="shop">Shop</a></li>
        <li><a href="#" data-page="history">Our history</a></li>
        <li><a href="#" data-page="items">All items</a></li>
      </ul>
    </nav>

    <div class="basket-block icons-block">
      <a class="basket-icon-wrapper" id="basket-icon" href="#" data-page="basket">
        <img class="icon header-icon" src="./app/img/icons/shopping-icon.svg" alt="basket Icon" />
        <span id="basket-count" class="basket-count"></span>
      </a>

      <a href="#">
        <img class="icon header-icon" src="./app/img/icons/fox-icon.svg" alt="Menu Icon" />
      </a>
    </div>
  </div>
</div>
